#iterations = total number of transactions
#duration = durationfor which entire code will run

[driver_type]
thick = False
instant_client_libdir = C=\Users\Sajal Jain\Documents\oracle\instantclient_21_13

[pool]
Ispool = True
user = BT
password = password
dsn = [stbm000051-vm4.racdb-scan.databasede3phx.oraclevcn.com:1521/orclbtpdb1](http://stbm000051-vm4.racdb-scan.databasede3phx.oraclevcn.com:1521/orclbtpdb1)
min=50
max=100
increment=1
timeout=15

[transactions]
doThreading=True
num_threads = 50
duration_mins = 10
iterations = 0

[test_cases]
#preferred values of weight are less than 20

addnewcustomer=0
place_order=1
findcustomer=1
deleting_order=0
deleting_cust=0
update_address=0
update_item=0
delete_item=0
orders_ofcust=0
orders_ofcust_customdate=0
summarise_orders_forcust=0
summarise_orders_forcust_customdate=0

#CRITICAL=50
#ERROR=60
#WARNING=30
#INFO=20
#DEBUG=10
#NOTEST=0

[address]
log_file_direc = C:\Bt_Customer_monitoring
trace_file_direc = C:\Bt_Customer_monitoring
##########################################################################
[log_file_handle]
log_level=10
log_format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
log_datefmt=%Y-%m-%d %H:%M:%S
log_filemode=a
##########################################################################
[trace_file_handle]
trace_level=10
trace_format=[%(asctime)s -%(levelname)s: %(filename)s:%(lineno)s - %(funcName)10s %(threadName)s ] %(message)s
trace_datefmt=%Y-%m-%d %H:%M:%S
trace_filemode=a
##########################################################################